.parent {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}

.header {
  height: 20%;
  background: #dd8cff;
  text-align: center;
  font-size: 20px;
  font-size: 2vw;
  font-family: "Lucida Console";
  font-style: italic;
  color: black;
  padding: 1px;
}

.champion {
  position: absolute;
  color: white;
  display: inline-block;
  width: 10%;
  left: 50%;
  margin-left: -5%;
  text-align: center;
  font-family: "Lucida Console";
}

.champsearch {
  position: absolute;
  top: 200%;
  height: 100%;
  width: 100%;
  text-align: center;
}

.champbox {
  position: absolute;
  width: 90%;
  left: 5%;
}
