.parent {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}

.header {
  height: 20%;
  background: #dd8cff;
  text-align: center;
  font-size: 20px;
  font-size: 2.5vw;
  font-family: "Lucida Console";
  font-style: italic;
  color: black;
  padding: 1px;
}

.champion {
  position: absolute;
  color: white;
  display: inline-block;
  width: 30%;
  left: 50%;
  top: -50%;
  margin-left: -15%;
  text-align: center;
  font-family: "Lucida Console";
  font-size: 40px;
  font-size: 300%;
  font-weight: bold;
}

.champsearch {
  position: absolute;
  top: 200%;
  height: 100%;
  width: 100%;
  text-align: center;
}

.champbox {
  position: absolute;
  width: 90%;
  left: 5%;
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 10%;
  font-size: 20px;
  font-family: "Lucida Console";
  font-weight: bold;
  color: #dd8cff;
}

.compare {
  position: absolute;
  left: 50%;
  margin-left: -15%;
  top: 300%;
  color: white;
}

.summbox {
  position: absolute;
  border-radius: 4px;
  width: 300%;
  height: 50%;
  font-family: "Lucida Console";
  font-weight: bold;
  color: #dd8cff;
}

.summonername {
  position: relative;
  font-size: 150%;
  top: 12px;
  right: 10px;
  font-family: "Lucida Console";
}
